@font-face {
  font-family: "MovementV";
  src: url("../../public/fonts/MovementV.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.main {
  background-color: #fdf6ed;
  height: 100%;
  width: 100%;
  padding: 5em 2em;
}

.title {
  font-family: "MovementV";
  font-weight: bold;
  transition: all 0.5s ease-out;
}

.mainCard {
  z-index: 10;
  border-bottom: 2px solid black;
}

.card {
  height: 100%;
  width: 100%;
  background-image: url("../../public/images/findmeastreamer/findmeastreamer_desktop.png");
  background-position: 50% 10%;
  background-size: 100%;
  transform: translateY(100%);
  transition: all 0.25s ease-out;
}

.mainCard:hover .card {
  transform: translateY(0);
}

.card2 {
  height: 100%;
  width: 100%;
  background-image: url("../../public/images/juniorbook/juniorBook_desktop.png");
  background-position: 50% 20%;
  background-size: 100%;
  transform: translateY(100%);
  transition: all 0.25s ease-out;
}
.mainCard:hover .card2 {
  transform: translateY(0);
}
